.confidant-img{
	border-radius: 50%; 
	height: 5rem;
	width: 5rem;
} 

.confidant-button{
	border: none; 
	background-color: white;
	padding: 0;
	cursor: pointer;
	height: 5rem;
	width: 5rem;
} 

.arcarna-btn{
	padding:0.4rem;
	float: left;
}


#arcarna-display{
	font-size: 1.4rem;
	width: 98%;
}

.table-btn{
	font-size: 1.4rem;
	width: 49%;
	display: inline ;
}

.table-btn-header{
	padding: 0rem;
}

