.confidant-img{
	border-radius: 50%; 
	height: 5rem;
	width: 5rem;
} 

.confidant-button{
	border: none; 
	background-color: white;
	padding: 0;
	cursor: pointer;
	height: 5rem;
	width: 5rem;
} 

.arcana-button{
	float: left;
	padding:0.4rem;
}

#arcana-display{
	font-size: 1.4rem;
	width: 100%;
}


.table-btn{
	font-size: 1.4rem;
	width: 33%;
	margin-top: 0.5rem;
}

.table-btn-header{
	padding: 0rem;
}

.table-header{
	cursor: pointer;
}

.personaNameTable{
	cursor: pointer;
}

.personaArcanaTable{
	cursor: pointer;
}


@media (max-width: 1100px) {
	.table-btn{
		width: 100%;
	}
}